<!-- Modal -->
<div
    class="modal fade"
    id="updateModaluser{{ row [0]}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update data User</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Update Boking -->
                            <form action="{{ url_for('userupdate') }}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">User Name</label>
                                    <input type="hidden" id="id" name="id" value="{{ row [0] }}">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="username"
                                            placeholder="Masukkan username"
                                            autocomplete="off"
                                            name="username"
                                            value="{{ row [1] }}"
                                            required="required"></div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input
                                                type="text"
                                                value="{{ row [2] }}"
                                                id="disabledTextInput"
                                                class="form-control"
                                                disabled="disabled"></div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="email"
                                                    disabled="disabled"
                                                    value="{{ row [3] }}"
                                                    autocomplete="off"
                                                    name="email"
                                                    required="required"></div>
                                                <div class="mb-3">
                                                    <label for="status" class="form-label">Level</label>
                                                    <select class="form-select" aria-label="Default select example" name="level">
                                                        <option value="{{ row [4] }}">{{ row [4] }}</option>
                                                        <option value="Admin">Admin</option>
                                                        <option value="Pelanggan">Pelanggan</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <!--Update Boking -->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="submit"
                                        class="btn btn-success"
                                        onclick="confirm('Anda yakin ma merubah data?')">Update</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>