<!-- Modal -->
<div
    class="modal fade"
    id="userdetail{{ row [0]}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Data User Detail</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>
                    User Id :
                    {{ row [0] }}</h2>
                <hr>
                    <pre>
                    User Name : {{ row [1] }}            
                    Password  : {{ row [2][25:50] }}            
                    Email     : {{ row [3] }}            
                    Level     : {{ row [4] }}            
                </pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>