{% extends "baseadmin.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Keterangan :</strong>
                    {{ message }}
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>

            {% endfor %}

        {% endif %}
        {% endwith %}
        <!-- Akhir pesan data berubah -->
        <div class="row row justify-content-center">
            <div class="col-4">
                <form action="#" method="POST">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password Baru</label>
                        <input
                            class="form-control"
                            id="newpassword"
                            name="passwordbaru"
                            placeholder="Password baru"
                            type="text">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Konfirmasi Password</label>
                        <input
                            class="form-control"
                            id="password"
                            name="konfirmasi"
                            placeholder="Konfirmasi Password"
                            type="text">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Change</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}