<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">

        <title>Form Login</title>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Keterangan :</strong>
                    {{ message }}
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>

            {% endfor %}

        {% endif %}
        {% endwith %}
        <!-- Akhir pesan data berubah -->
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <div class="row">
                                        <img
                                            src="https://images.pexels.com/photos/7820380/pexels-photo-7820380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                            alt="login form"
                                            class="img-fluid"
                                            style="border-radius: 1rem 0 0 1rem;"/>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <form action="{{url_for('login')}}" method="POST">

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                                <span class="h1 fw-bold mb-0">Hotel Taman Sari</span>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="email">Email address</label>
                                                <input
                                                    type="email"
                                                    id="email"
                                                    class="form-control form-control-lg"
                                                    name="email"/>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="password">Password</label>
                                                <input
                                                    type="password"
                                                    id="password"
                                                    class="form-control form-control-lg"
                                                    name="password"/>
                                            </div>

                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                            </div>

                                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Belum punya akun, Silahkan daftar?
                                                <a href="/registrasi" style="color: #393f81;">Register here</a>
                                            </p>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Start Form registrasi -->
        <!-- <div class="container"> <div class="row justify-content-center"> <div
        class="col-md-4 text-center mt-3"> <h2>Form Login</h2> </div> <div class="row
        justify-content-center"> <div class="col-md-4"> <form
        action="{{url_for('login')}}" method="POST"> <div class="mb-3"> <label
        for="email" class="form-label">Username</label> <input type="email"
        class="form-control" id="email" placeholder="Masukkan Email" name ="email">
        </div> <div class="mb-3"> <label for="password"
        class="form-label">password</label> <input type="password" class="form-control"
        id="password" placeholder="Masukkan Password" name="password"> </div> <div
        class="mb-3"> <button type="submit" class="btn btn-primary">Login</button>
        </div> <div class="text-start"> Belum punya akun.? Klik <a
        href="{{url_for('registrasi')}}"> Registrasi</a></div> </form> </div> </div>
        </div> </div> -->

        <!-- Start Form registrasi -->

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!-- <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script> <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script> -->
    </body>

</html>